@font-face {
  font-family: "SF Pro Text";
  src: url("fonts/SFProText-Regular.eot"); /* IE9 Compat Modes */
  src: url("fonts/SFProText-Regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("fonts/SFProText-Regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("fonts/SFProText-Regular.woff")
      format("woff"),
    /* Pretty Modern Browsers */ url("fonts/SFProText-Regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("fonts/SFProText-Regular.svg#svgFontName")
      format("svg"); /* Legacy iOS */
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("./fonts/SFProDisplay-Semibold.eot");
  src: url("./fonts/SFProDisplay-Semibold.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/SFProDisplay-Semibold.woff2") format("woff2"),
    url("./fonts/SFProDisplay-Semibold.woff") format("woff"),
    url("./fonts/SFProDisplay-Semibold.ttf") format("truetype"),
    url("./fonts/SFProDisplay-Semibold.svg#SFProDisplay-Semibold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("fonts/SFProDisplay-Regular.eot");
  src: url("fonts/SFProDisplay-Regular.eot?#iefix") format("embedded-opentype"),
    url("fonts/SFProDisplay-Regular.woff2") format("woff2"),
    url("fonts/SFProDisplay-Regular.woff") format("woff"),
    url("fonts/SFProDisplay-Regular.ttf") format("truetype"),
    url("fonts/SFProDisplay-Regular.svg#SFProDisplay-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  color: #1d1d1f;
  background-color: #fbfbfd;
  font-family: "SF Pro Text", sans-serif;
  font-weight: normal;
  font-size: 18px;
}

h3 {
  font-family: "SF Pro Display", sans-serif;
  font-weight: 400;
  font-size: 1.6em;
  margin-top: 5px;
  padding-bottom: 10px;
}

h2 {
  font-family: "SF Pro Display", sans-serif;
  font-size: 3em;
  /* line-height: 1.125; */
  font-weight: 600;
  /* letter-spacing: 0.004em; */
  display: inline-block;
  margin-bottom: 0;
}

.product-price {
  color: #86868b;
  font-size: 0.9em;
}

#sale-line p {
  word-wrap: break-word;
  line-height: 1;
  display: inline-block;
  /* vertical-align: middle; */
}
.product-price a::after {
  content: "";
}

.product-price a {
  color: inherit;
  padding: 0;
  margin: 0;
}

.product-price a:hover {
  text-decoration: none;
}

a::after {
  content: " ›";
}
.footnote {
  position: relative;
  font-size: 0.8em;
  vertical-align: text-top;
}

footer a::after {
  content: "";
}

a {
  text-decoration: none;
  color: #06c;
}
a:hover {
  text-decoration: underline;
}

#sale-line {
  width: 100vw;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  background-color: #f5f5f7;
  padding: 40px 0 0 0;
  font-family: "SF Pro Text", sans-serif;
  font-size: 14px;
}

#product {
  width: 100vw;
  height: 698px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 14px;
  background-image: url("images/iphone_12_updated__jepm2xpxncuy_largetall.jpg");
}

#product-two {
  width: 100vw;
  height: 698px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 14px;
  background-image: url("images/iphone_12_pro_us__e5oyysg4k0ya_largetall.jpg");
}

#product-three {
  width: 100vw;
  height: 698px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 14px;
  background-image: url("images/hero_ipad_pro_non_avail__fcrsmhs4b7ma_largetall.jpg");
}

#product-three .product-header {
  color: rgb(245, 245, 247);
}

#product-two .product-header {
  color: rgb(245, 245, 247);
}

#menu img {
  max-height: 20px;
  padding: 0;
}
.navbar {
  background: rgba(0, 0, 0, 0.7);
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
  backdrop-filter: saturate(180%) blur(20px);
  font-size: 0.7em;
  z-index: 9999;
  height: 42px;
  max-height: 42px;
  width: 100%;
  font-family: "SF Pro Text", sans-serif;
  font-weight: normal;
  position: fixed;
  left: 0;
  right: 0;

  margin: 0;
}
.menu {
  display: inline-flex;
  justify-content: space-evenly;
  align-items: baseline;
  /* margin: 0 auto;
  max-width: 980px;
  padding: 0 22px; */
  font-size: 1em;
}
.nav-content {
  padding: 0 200px;
}

.navbar a::after {
  content: "";
}

.navbar a {
  color: inherit;
  text-decoration: none;
}

ul#menu {
  list-style-type: none;
  margin: 0;
  /* padding: 10px 10px 20px 20px; */
  padding: 10px;
  display: flex;
  justify-content: space-around;
  margin: auto;
}
ul#menu li {
  display: inline;
  color: #f5f5f7;
}

footer {
  background-color: #f5f5f7;
  color: rgb(134, 134, 139);
  padding: 10px;
  font-family: "SF Pro Text", sans-serif;
  font-size: 12px;
}

li {
  list-style: none;
}
footer li {
  padding: 3px;
}

footer a {
  color: rgb(81, 81, 84);
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 250px;
  font-size: 12px;
  line-height: 1.3em;
}

.first {
  padding: 10px 0;
  border-bottom: 1px solid rgb(193, 193, 197);
}

.second {
  padding: 10px 0;
  display: flex;
  justify-content: flex-start;
}

.third {
  padding: 10px 0;
  border-bottom: 1px solid rgb(193, 193, 197);
}

* {
  margin: 0;
  padding: 0;
}

.container b {
  color: rgb(81, 81, 84);
}

.container ul {
  padding: 0px 90px 10px 0px;
}

.fourth {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

#shop {
  color: #06c;
}

.learn-more {
  display: inline-flex;
  justify-content: center;
  padding-top: 10px;
  font-size: 1.1em;
}
.learn-more div:first-of-type {
  padding-right: 40px;
}
.product-header {
  padding-top: 5%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.no-arrow {
  text-decoration: none;
  color: inherit;
}
.no-arrow::after {
  content: "";
}
.no-arrow:hover {
  text-decoration: none;
}

.flex2by3 {
  display: flex;
  flex-flow: row wrap;
  width: 100vw;
}

.grid {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0px 0px 14px 14px;
  width: calc(50vw - 28px);
  height: 40vw;
  /* font-size: 14px; */
}

.grid h3 {
  font-size: 1.2em;
}

.grid h2 {
  font-weight: 600;
  font-size: 2.7em;
  word-wrap: normal;
  padding: 0px 80px;
}
.learn-more a {
  font-size: 0.9em;
}
.learn-more div:last-child {
  padding: 0;
}
sup {
  top: -0.5em;
}
#sups {
  font-size: 16px;
  color: inherit;
  display: inline-block;
  top: -0.5em;
}
#sups::after {
  content: "";
}
#sups:hover {
  color: #06c;
  text-decoration: none;
}
.learn-more {
  padding-bottom: 10px;
}

.learn-more sup {
  font-size: 12px;
  color: inherit;
  position: relative;
  left: -2px;
  top: 0px;
}
.learn-more sup a {
  color: inherit;
}
.learn-more sup a::after {
  content: "";
}
.learn-more sup a:hover {
  color: #06c;
  text-decoration: none;
}

#watch-logo {
  align-self: center;
  height: 50px;
  width: min-content;
}
.up-arrow::after {
  content: "";
}
a[href="#footnote-3"]::after {
  content: "";
}
#apple-music {
  align-self: center;
  height: 33px;
  width: min-content;
  padding: 0 0 10px 0;
}
#gp1 {
  background-image: url("images/promo_bts__bg3cb4kaoqoi_large.jpg");
}
#gp2 {
  background-image: url("images/promo_watch_series_6_lte__f8lrasjnry2y_large.jpg");
}
#gp2 h3 {
  color: #f5f5f7;
}
#gp3 {
  background-image: url("images/promo_imac__crg641tip4q6_large.jpg");
}
#gp4 {
  background-image: url("images/promo_airtag__e6b73a64nno2_large.jpg");
}
#gp5 {
  background-image: url("images/promo_spatial_audio_billie_eilish__ltg83lkpcqq2_large.jpg");
}
#gp6 {
  background-image: url("images/promo_coda__b4z92qy59piq_large.jpg");
}

* {
  overflow-x: hidden;
  overflow-wrap: normal;
}
#gp6 * {
  color: #f5f5f7;
}

#gp5 * {
  color: #f5f5f7;
}
.learn-more {
  align-self: center;
}

#apple-tv {
  align-self: center;
  height: 31px;
  width: min-content;
  padding: 0 0 10px 0;
}
.play::after {
  content: url("images/playsmall.png");
  box-sizing: border-box;
  height: 10px;
}
#award {
  align-self: center;
  height: 50px;
  width: min-content;
  padding: 100% 0 10px 0;
}
#coda {
  align-self: center;
  height: 62px;
  width: min-content;
  padding: 0 0 10px 0;
}
#at {
  display: flex;
  flex-direction: column;
}
.navbar {
  overflow: hidden;
}
.flex2by3 .grid .product-header sup {
  font-size: 16px;
}
